# Virtualenv
venv/
env/
.env/
*.venv/
backend/venv/
frontend/venv/

# (requirements jangan di-ignore)
!backend/requirements/

# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
*.log
/media/
*.env

# Node / Vite
node_modules/
dist/
*.local

# VSCode / JetBrains
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db
